div.container{
    background-color: lightsalmon;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    
}