div.container{
    background-color: lightsalmon;
    display: flex;
    flex-direction: row ;
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}