div.container{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;    
    height: 400px;
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    padding: 50px;
    
}