div.container{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    flex: auto;
   
}